<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shirodemo1.mapper.UserMapper">
 <select id="queryUserName" parameterType="String" resultType="User">
     select * from pet.admin where name = #{name}
 </select>

</mapper>