<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.b2cdemo.mapper.AdminMapper">
    <!--查询所有用户-->
    <select id="queryAdminList" resultType="Admin">
        select * from b2c_admin
    </select>
    <!--查询单个用户-->
    <select id="queryAdminById" resultType="Admin">
        select * from b2c_admin where id = #{id}
    </select>
    <!--增加单个用户-->
    <insert id="addAdmin" parameterType="Admin">
        insert into b2c_admin(name,password) values (#{name},#{password})
    </insert>
    <!--更新用户-->
    <update id="updateAdmin" parameterType="Admin">
        update b2c_admin set name=#{name},password=#{password} where id = #{id}
    </update>
    <delete id="deleteAdmin" parameterType="int">
        delete from b2c_admin where id=#{id}
    </delete>

</mapper>