@charset "utf-8";

/* ---------- register ---------- */
.register .main-header {
	margin-bottom: 0px;
}

.register main {
	padding: 60px 0px;
	background: url(../images/register.png) repeat-x;
	background-color: #f8f8f9;
}

.register .panel {
	width: 1000px;
	margin: 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border: none;
}

.register .panel .panel-heading {
	padding: 0px 20px;
	border-image: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-width: 0px 0px 1px 0px;
	border-bottom: 1px solid #e8e8e8;
}

.register .panel .panel-heading h1 {
	line-height: 50px;
	font-size: 16px;
}

.register .panel .panel-body {
	padding: 20px;
}

.register .panel .panel-footer {
	padding: 20px;
	border-image: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-image: linear-gradient(left, #e8e8e8, #f8f8f8) 1;
	border-width: 1px 0px 0px 0px;
	border-top: 1px solid #e8e8e8;
}