@charset "utf-8";

/* ---------- index ---------- */
.index .section-info {
	min-height: 120px;
	padding: 30px 20px;
	margin-bottom: 20px;
	position: relative;
	color: #ffffff;
	text-align: right;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.index .section-info:hover {
	opacity: 0.9;
}

.index .section-info > .iconfont {
	position:absolute;
	bottom: -30px;
	left: 10px;
	font-size: 80px;
	font-weight: normal;
	opacity: 0.2;
	z-index: 10;
}

.index .section-info strong {
	font-size: 28px;
}

.index .section-info a {
	width: 100%;
	padding: 5px;
	position:absolute;
	bottom: 0px;
	left: 0px;
	color: #efefef;
	text-align: left;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.08);
}

.index .section-info a .iconfont {
	float: right;
}

.index .review-info .panel-body {
	min-height: 120px;
	padding: 30px 20px;
}

.index .review-info .iconfont {
	width: 60px;
	height: 60px;
	display: block;
	line-height: 60px;
	margin-right: 5px;
	color: #ffffff;
	font-size: 28px;
	text-align: center;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	border-radius: 50%;
}

.index .review-info a:hover .iconfont {
	opacity: 0.7;
}

.index .review-info h1 small {
	color: #9c9c9c;
}

.index .review-info p {
	max-width: 98px;
	color: #9c9c9c;
}

.index .sales-chart .panel-body {
	min-height: 120px;
	padding: 10px 0px;
	text-align: center;
}

.index .sales-chart h3 {
	width: 60%;
	padding: 10px 0px;
	margin: 0px auto;
	color: #9c9c9c;
	border-bottom: 1px solid #dddddd;
}

.index .sales-chart .pull-left {
	width: 50%;
	padding-top: 15px;
}

.index .sales-chart h2 {
	padding-right: 5px;
	display: inline-block;
}

.index .sales-chart a {
	padding-right: 5px;
	color: #9c9c9c;
}

.index .sales-chart span {
	color: #f04134;
}

.index .member-info .panel-body, .index .business-info .panel-body {
	padding: 30px 0px;
	text-align: center;
	color: #9c9c9c;
}

.index .member-info h2, .index .business-info h2 {
	display: block;
	padding: 5px 0px;
}

.index table.table tr th {
	width: 10%;
	padding: 15px;
	text-align: right;
	font-weight: normal;
	background-color: #fafafa;
}

.index table.table tr td {
	width: 25%;
	padding: 15px;
}